libvirt:
  uri: qemu:///system
  kernel: /var/lib/libvirt/scx-bench-kernels/bzImage
  kernel_args: "root=/dev/vda1 console=ttyS0 systemd.mask=boot-efi.mount psi=1"
  kernel_source: /home/user/linux-6.18
  kernel_config: /home/user/linux-6.18/.config
  sync_kernel_source: false
  initrd: null
  root_image: /var/lib/libvirt/images/scx-bench-base.qcow2
  runtime_dir: /var/lib/libvirt/scx-bench-runs
  network: default
  ssh_user: root
  ssh_key: /home/user/.ssh/scx-bench
  ssh_port: 22
  workdir: /home/user/scx_agent
  guest_output_dir: /scx_bench_out
  emulator_cpus: 0,6
  iothread_cpus: 0,6
  pin_vhost_threads: true
  boot_timeout_seconds: 90
  vm_settle_seconds: 10
  timeout_extra_seconds: 180
  destroy_on_exit: true
  cpu_mode: host-passthrough

executor:
  parallel: 1
  cpu_source: isolated
  isolated_cpus: 1-5,7-11
  irq_cpus: 0,6
  smt_policy: use_all_siblings
  pair_policy: sequential
  memory_guard_gb: 16

machines:
  small:
    vcpus: 3
    memory: 8G
    pin_cpus: 1,2,3
    exclusive: true
    frequency:
      fixed: true
      governor: performance
      turbo: true
