libvirt:
  uri: qemu:///system
  kernel: null
  kernel_args: "root=/dev/vda1 console=ttyS0 systemd.mask=boot-efi.mount"
  kernel_config: null
  kernel_source: null
  sync_kernel_source: false
  initrd: null
  root_image: null
  runtime_dir: /var/lib/libvirt/scx-bench-runs
  network: default
  ssh_user: root
  ssh_key: null
  ssh_port: 22
  workdir: null
  guest_output_dir: /scx_bench_out
  emulator_cpus: null
  iothread_cpus: null
  pin_vhost_threads: true
  boot_timeout_seconds: 90
  vm_settle_seconds: 10
  timeout_extra_seconds: 120
  destroy_on_exit: true
  cpu_mode: host-passthrough

executor:
  parallel: auto
  cpu_source: isolated
  isolated_cpus: null
  irq_cpus: null
  smt_policy: use_all_siblings
  pair_policy: sequential
  memory_guard_gb: 16

machines:
  small:
    vcpus: 2
    memory: 8G
    pin_cpus: auto
    exclusive: true
    frequency:
      fixed: true
  medium:
    vcpus: 4
    memory: 32G
    pin_cpus: auto
    exclusive: true
    frequency:
      fixed: true

  classed_medium:
    vcpus: 4
    memory: 8G
    pin_cpus: auto
    exclusive: true
    frequency:
      fixed: true

  large:
    vcpus: 8
    memory: 128G
    pin_cpus: auto
    exclusive: true
    frequency:
      fixed: true
