schedulers:
  default:
    kind: builtin

  scx_rlfifo:
    kind: scx
    command: schedule/scx/target/release/scx_rlfifo
    args: []
    settle_seconds: 2

plans:
  smoke:
    runs: 3
    matrix:
    - machine: small
      suites:
      - cpu_smoke
      - latency_smoke
      - context_switch

  full:
    runs: 3
    matrix:
    - machine: small
      suites:
      - cpu_bound
      - sched_ipc
      - latency
      - realtime_latency
      - context_switch
      - os_bench
      - ipc
      - memory_latency

  ported_cpu_memory:
    runs: 1
    matrix:
    - machine: small
      suites:
      - stress_ng_extended
      - linux_build_sweep
      - sysbench_fileio
      - redis_extended
      - rocksdb
      - ann_cpu
      - memory_bandwidth
      - nginx_service

suites:
  cpu_smoke:
    benches:
    - hackbench_smoke
    metric_profile: cpu_throughput

  latency_smoke:
    benches:
    - schbench_smoke
    metric_profile: latency

  cpu_bound:
    benches:
    - hackbench
    - stress_ng_cpu
    metric_profile: cpu_throughput

  sched_ipc:
    benches:
    - perf_sched_pipe
    - perf_sched_messaging
    metric_profile: sched_ipc_perf

  scalability:
    benches:
    - will_it_scale_context_switch
    metric_profile: cpu_throughput

  io_bound:
    benches:
    - fio_randread
    - fio_randwrite
    metric_profile: io_perf

  latency:
    benches:
    - schbench
    metric_profile: latency

  realtime_latency:
    benches:
    - cyclictest
    metric_profile: realtime_latency

  service:
    benches:
    - redis_benchmark
    metric_profile: service_perf

  kernel_build:
    benches:
    - kernel_build_bzimage
    metric_profile: build_perf

  fairness:
    benches:
    - cgroup_fairness
    metric_profile: fairness

  context_switch:
    benches:
    - ctx_clock
    metric_profile: context_switch

  os_bench:
    benches:
    - osbench_create_threads
    - osbench_create_processes
    - osbench_launch_programs
    - osbench_create_files
    - osbench_mem_alloc
    metric_profile: os_latency

  ipc:
    benches:
    - ipc_pipe
    - ipc_fifo
    - ipc_socketpair
    - ipc_tcp
    metric_profile: ipc_throughput

  memory_latency:
    benches:
    - pmbench_randread
    - mutex_lock_unlock
    metric_profile: memory_latency

  stress_ng_extended:
    benches:
    - stress_ng_vm
    - stress_ng_io
    - stress_ng_sched
    - stress_ng_matrix
    metric_profile: cpu_throughput

  linux_build_sweep:
    benches:
    - linux_build_tinyconfig
    - linux_build_defconfig
    - linux_build_allnoconfig
    metric_profile: build_perf

  sysbench_fileio:
    benches:
    - sysbench_fileio_rndrw
    metric_profile: fileio_perf

  redis_extended:
    benches:
    - memtier_mixed
    - redis_benchmark_sweep
    metric_profile: storage_kv

  rocksdb:
    benches:
    - rocksdb_fillread
    - rocksdb_mixed
    metric_profile: storage_kv

  ann_cpu:
    benches:
    - pyvsag_hnsw
    metric_profile: ann_cpu

  memory_bandwidth:
    benches:
    - memory_bandwidth_random
    - memory_bandwidth_sequential
    metric_profile: memory_bandwidth

  nginx_service:
    benches:
    - nginx_wrk2_medium
    metric_profile: web_service
