schedulers:
  default:
    kind: builtin

  scx_rlfifo:
    kind: scx
    command: schedule/scx/target/release/scx_rlfifo
    args: []
    settle_seconds: 2

plans:
  smoke:
    runs: 3
    matrix:
    - machine: small
      suites:
      - cpu_smoke
      - latency_smoke
      - context_switch

  full:
    runs: 3
    matrix:
    - machine: small
      suites:
      - cpu_bound
      - sched_ipc
      - latency
      - realtime_latency
      - context_switch
      - os_bench
      - ipc
      - memory_latency

suites:
  cpu_smoke:
    benches:
    - hackbench_smoke
    metric_profile: cpu_throughput

  latency_smoke:
    benches:
    - schbench_smoke
    metric_profile: latency

  cpu_bound:
    benches:
    - hackbench
    - stress_ng_cpu
    metric_profile: cpu_throughput

  sched_ipc:
    benches:
    - perf_sched_pipe
    - perf_sched_messaging
    metric_profile: sched_ipc_perf

  scalability:
    benches:
    - will_it_scale_context_switch
    metric_profile: cpu_throughput

  io_bound:
    benches:
    - fio_randread
    - fio_randwrite
    metric_profile: io_perf

  latency:
    benches:
    - schbench
    metric_profile: latency

  realtime_latency:
    benches:
    - cyclictest
    metric_profile: realtime_latency

  service:
    benches:
    - redis_benchmark
    metric_profile: service_perf

  kernel_build:
    benches:
    - kernel_build_bzimage
    metric_profile: build_perf

  fairness:
    benches:
    - cgroup_fairness
    metric_profile: fairness

  context_switch:
    benches:
    - ctx_clock
    metric_profile: context_switch

  os_bench:
    benches:
    - osbench_create_threads
    - osbench_create_processes
    - osbench_launch_programs
    - osbench_create_files
    - osbench_mem_alloc
    metric_profile: os_latency

  ipc:
    benches:
    - ipc_pipe
    - ipc_fifo
    - ipc_socketpair
    - ipc_tcp
    metric_profile: ipc_throughput

  memory_latency:
    benches:
    - pmbench_randread
    - mutex_lock_unlock
    metric_profile: memory_latency
